
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #222;
   font-family: 'Inter', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}


.site-header {
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 15px 20px;
  position: fixed;
  top: 0;
}
.site-header .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: bold;
  font-size: 1.2rem;
  color: #006AE3;
}
.nav a {
  margin-left: 20px;
  font-size: 0.95rem;
  color: #333;
}
.nav .btn.small {
  padding: 6px 12px;
  font-size: 0.85rem;
}



.hero {
  padding: 120px 20px 60px;
  text-align: left;
  max-width: 700PX;
  
}

.hero h1 {
  font-size: 2.8rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  color: #4f4f4f;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-green {
  background: #3bb75e;
  color: #fff;
  padding: 14px 24px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
}

.btn-green:hover {
  background: #2e9c4c;
}

.contact-link {
  color: #3bb75e;
  font-weight: 600;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}


.trusted {
  text-align: left;
  padding: 40px 20px 80px;
}

.trusted-title {
  font-size: 1rem;
  color: #4f4f4f;
  margin-bottom: 30px;
}

.trusted-logos {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.trusted-logos img {
  height: 40px;
  max-width: 120px;
  object-fit: contain;
  filter: grayscale(100%);
}

.section2-wrapper {
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  color: #1c1c1c;
}

.section2-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 40px;
}

.section2-left {
  max-width: 45%;
}

.section2-left h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.section2-left p {
  font-size: 18px;
  color: #4a4a4a;
}

.section2-right {
  max-width: 45%;
  padding-top: 250px;
}

.section2-right h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  
  
}

.section2-right p {
  font-size: 16px;
  color: #4a4a4a;
  line-height: 1.6;
}


.section2-features {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 0px 200px 200px 20px;
  
}

.section2-features-left img {
  width: 300px;
  max-width: 100%;
}

.section2-features-right {
  display: flex;
  gap: 60px;
}

.section2-features-right ul {
  list-style: none;
  padding: 0;
  font-size: 16px;
  color: #333;
  line-height: 2;
}


.section2-success {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

.section2-success-left img {
  width: 200px;
  max-width: 100%;
}

.section2-success-right {
  max-width: 55%;
}

.section2-success-right h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}

.section2-success-right p {
  font-size: 16px;
  color: #4a4a4a;
  line-height: 1.6;
  margin-bottom: 20px;
}

.section2-link {
  color: #00b87c;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.section2-link span {
  margin-right: 8px;
}

.api-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 60px 10%;
  background-color: #f9fafb;
}

.api-left {
  flex: 1 1 500px;
  max-width: 600px;
}

.api-left h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 20px;
}

.api-left p {
  color: #4b5563;
  line-height: 1.6;
  margin-bottom: 25px;
}

.api-list {
  list-style: none;
  padding: 0;
}

.api-list li {
  background: #f9fafb;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 6px;
  color: #090e0c;
  font-weight: 500;

}
.api-list li span {
  background-color: #c2e2d3;
  color: black;
  padding: 2px 6px;
  border-radius: 4px;
  
}  
.api-link {
  color: #00b87c;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

api-link span {
  margin-right: 8px;
}


.api-right {
  flex: 1 1 400px;
  text-align: center;
}

  .api-right img{
    width: 100%;
    max-width: 400px;
    height:auto;
    border-radius: 10px;
  }
  

.fraud-detection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 80px 10%;
  background-color: #ffffff;
}


.fraud-left {
  flex: 1 1 500px;
  text-align: center;
  margin-left: -140px;
}

.fraud-left video {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
}

.fraud-right {
  flex: 1 1 400px;
  max-width: 500px;
  margin-right: -80px
}

.fraud-right h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 20px;
}

.fraud-right p {
  color: #4b5563;
  line-height: 1.6;
  margin-bottom: 30px;
  font-size: 1.2rem;
}




/*@media (max-width: 900px) {
  .fraud-detection {
    flex-direction: column;
    text-align: center;
  }

  .fraud-left img {
    max-width: 300px;
  }

  .fraud-right {
    margin-top: 40px;
  }
}*/

.trusted-business{
  padding: 60px 20px 20px;
  text-align: left;
   background-color: rgba(230, 247, 255, 0.7);
  
  
} 
.trusted-business h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
  max-width: 500px;
}

.trusted-business p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 40px;
  max-width: 600px;
  line-height: 1.6;
}

.trusted-businesses{
  display: flex;
  gap: 20px;
  justify-content: left;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.tb-column{
  background: white;
  padding: 20px;
  border-radius: 8px;
  flex: 1 1 300px;
  max-width:350px;
  text-align: left;
}
.tb-column img {
  max-width: 50%;
  border-radius: 4px;
}
.tb-column h3 {
  color: #333;
  margin: 15px 0 10px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.6;
}
.tb-column p {
  color: #555;
  font-size: 1rem;
  margin-bottom: 15px;
}
.tb-link{
  display: inline-block;
  padding: 8px 16px;
  background: #7bb068;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  text-decoration: none;

}

.tb-link:hover {
  background: #00b87c;}

.growth-section{
  padding: 40px;
  text-align: left;
  background-color: #f8f9fa;
  
}
.growth-section h1{
font-size: 2.4rem;
margin-bottom: 10px;
max-width: 600px;
font-weight: very bold;
line-height: 1.6;

}
.growth-section p{
  margin-bottom: 70px;
  max-width: 600px;
  font-size: 1.2rem;
  line-height: 1.6;
}
.growth-grid{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 30px;
  justify-items: center;
  align-items: center;
  margin-bottom: 100px;
}

.growth-grid img{
  max-width: 100px;
  max-height: 60px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s ease;

}

.growth-grid img:hover{
  filter: none;
}
.partners-section{
  padding: 40px;
  background-color: #f8f9fa;
}
.partners-section h1{
  font-size: 2.4rem;
margin-bottom: 10px;
max-width: 600px;
font-weight: very bold;
line-height: 1.6;

}

.partners-section p{
  margin-bottom: 70px;
  max-width: 600px;
  font-size: 1.2rem;
  line-height: 1.6;
}

.global-partners{
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.gp-column{
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  max-width: 300px;
  flex: 1 1 300px;
  
}

.main{
  width: 30%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  
}

.gp-column p{
margin-top: 10px;
font-size: 15px;
line-height: 1.6;
}

.gp-first{
 display: flex;
 align-items:center;
 gap: 10px;
 margin-top: 20px;
}
.gp-first img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.gp-last{
display: flex;
flex-direction: column;
line-height: 1.6;
}
.gp-last.name{
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}

.gp-last.position{
  font-size: 13px;
  color: #000000;
}

.try-paystack-now{
  background: white;
  padding: 60px 20px;
  text-align: left;
  line-height: 1.6;
}

.try-paystack-now p{
  font-size: 1.4rem;
  margin-bottom: 10px;
  max-width: 600px;
  line-height: 1.6;
}
.try-paystack{
  display: flex;
}
.try-paystack h1{
  font-size: 2.5rem;
  margin-bottom: 20px;
  max-width: 550px;
  font-weight: very bold;
  line-height: 1.6;
  font-style: arial;
}
.try-pay{
  flex: 1 1 500px;
  text-align: left;
}

.try-pstack{
  flex: 1 1 400px
  align-items: center;
  margin-right: 50px
  justify-content: flex-end;
  
}
.btn-pstack{
  background: #4eac54;
  color: white;
  padding: 14px 24px;
  border-radius: 2px; 
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
  line-height: 1.6;
  
}



.last-section {
  background: #f9fafc;
  padding: 50px 20px;
   line-height: 1.6;
   font-family: Arial, sans-serif;
}

.last-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.last-column h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.last-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.last-column ul li {
  margin-bottom: 10px;
}

.last-column ul li a {
  text-decoration: none;
  color: #222;
  font-size: 0.95rem;
}

.last-column ul li a:hover {
  color: #006AE3;
}
 
.footer {
  background: #f9fafc;
  padding: 60px 20px;
  color: #222;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.footer-column h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-column p {
  font-size: 0.95rem;
  margin-bottom: 15px;
  line-height: 1.6;
}

.footer-column a {
  color: #006AE3;
  text-decoration: none;
}

.footer-column a:hover {
  text-decoration: underline;
}


.social-icons a {
  display: inline-block;
  margin-right: 8px;
  font-size: 1.2rem;
}


.stripe-note {
  margin-top: 15px;
  color: #555;
  font-size: 0.9rem;
}



